X API Documentation: https://developer.x.com/en/docs/x-api/getting-started/about-x-api
terminal command against api endpoint to search for X posts:

search_tweets.py   --max-tweets 100   --results-per-call 10   --query "(space exploration) has:media"   --filename-prefix space-pics   --print-stream

In [10]:
import pandas as pd
import json

data = []
with open('X-api/space-pics.json') as f:
    for line in f:
        try:
            data.append(json.loads(line))
        except json.JSONDecodeError as e:
            print(f"Skipping line due to error: {e}")

# parse out data and meta data from json file
df_data = pd.json_normalize(data, record_path=['data'])
df_meta = pd.json_normalize(data).drop('data', axis=1)

# Concatenate the DataFrames
df = pd.concat([df_data, df_meta], axis=1)
df.head()

,text,id,edit_history_tweet_ids,meta.newest_id,meta.oldest_id,meta.result_count,meta.next_token
0,RT @MarioNawfal: WHY WE MUST GO TO SPACE \n\nI...,1834072776321499565,[1834072776321499565],1834072776321499565,1834066371199533150,10.0,b26v89c19zqg8o3frqut8ace8kq71b5nwomqg2lc4jwql
1,RT @TRUMP_ARMY_: @elonmusk Make Space Explorat...,1834072343926161455,[1834072343926161455],1834066198020981197,1834061303788228624,10.0,b26v89c19zqg8o3frqut8ace0zlxb2xs1sl1vz9xsbfr1
2,RT @Astro_Wakata: Privilege to talk about the ...,1834071301054406965,[1834071301054406965],1834061026674782529,1834059908427264439,10.0,b26v89c19zqg8o3frqut8ac3kqhtd94on672z34ccjngd
3,"*Elon Musk, Gautam Adani to Become World's Fir...",1834071240044155257,[1834071240044155257],1834059323237863477,1834056355885305890,10.0,b26v89c19zqg8o3frqut8ac3g5cn39niq2gij3vhnjvct
4,RT @Astro_Wakata: Privilege to talk about the ...,1834069298874114127,[1834069298874114127],1834055907732341063,1834052712859926737,10.0,b26v89c19zqg8o3frqut8ac3a3pliuhypwkp6bi2r5qbh